.img_top {
    width: 95%;
    height: 400px;   
    object-fit: cover; 
    margin-top: 60px; align-items: center;
    position: relative;


}
.img_Container
{
    display: flex;
    justify-content: center;
}
.quote{
    position:absolute;
    text-align: center;
    top:20%;
    left:50%
  
}
.donor_Button{
    position:absolute;
    top:33%;
    left:50%;
    align-items: center;
}
.donor_Button:hover
{
    

}
.Donation_Stats
{
    background-color: rgba(231, 222, 222, 0.447);
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    
    padding-bottom: 10px;
  

}
